<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">

<channel>
	<title>Planet Debian Administration</title>
	<link>http://planet.debian-administration.org/</link>
	<language>en</language>
	<description>Planet Debian Administration - http://planet.debian-administration.org/</description>

<!-- tmpl_loop name="entries" -->
<item>
	<title><!-- tmpl_var name="username" -->: <!-- tmpl_var name="title" --></title>
	<guid>http://debian-administration.org/users/<!-- tmpl_var name="username" -->/weblog/<!-- tmpl_var name="id" --></guid>
	<link>http://debian-administration.org/users/<!-- tmpl_var name="username" -->/weblog/<!-- tmpl_var name="id" --></link>
	<description><!-- tmpl_var name="bodytext" -->
        </description>
	<pubDate><!-- tmpl_var name="date" --></pubDate>
</item>
<!-- /tmpl_loop -->
</channel>
</rss>
